.about--cont--second__title{
    color: #FCD043;

    text-align: right;
    font-family: Miracle, serif;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 130px; /* 86.667% */
    text-transform: uppercase;
}